[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A simple, non-magical Java debugger. (remade from https://github.com/chromy/Deeva to run entirely off the JVM)
[access "refs/*"]
	owner = group user/Felix de Souza (felixdesouza)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Felix de Souza (felixdesouza)
	label-Verified = -1..+1 group user/Felix de Souza (felixdesouza)
	push = group user/Felix de Souza (felixdesouza)
	read = group user/Felix de Souza (felixdesouza)
	rebase = group user/Felix de Souza (felixdesouza)
	removeReviewer = group user/Felix de Souza (felixdesouza)
	submit = group user/Felix de Souza (felixdesouza)
[access "refs/heads/*"]
	create = group user/Felix de Souza (felixdesouza)
	push = +force group user/Felix de Souza (felixdesouza)
	pushMerge = group user/Felix de Souza (felixdesouza)
	read = group user/Felix de Souza (felixdesouza)
[access "refs/tags/*"]
	push = group user/Felix de Souza (felixdesouza)
	push = +force group user/Felix de Souza (felixdesouza)
